/obj/
/lib/
/alire/
/proof/alire/
/config/
/build/
/tests/bin/
/tests/obj/
/showcases/bin/
/showcases/obj/
/showcases/alire/
/showcases/config/
/showcases/http-comparison/servers/*/alire/
/showcases/http-comparison/servers/*/bin/
/showcases/http-comparison/servers/*/config/
/showcases/http-comparison/servers/*/obj/
/docs/api/
/coverage/
